attrs==21.4.0
Automat==20.2.0
beautifulsoup4==4.11.1
Bottleneck @ file:///opt/concourse/worker/volumes/live/220f0b56-5355-4122-6705-41fcd18e285c/volume/bottleneck_1648028927947/work
cachelib==0.6.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.0.1
constantly==15.1.0
cryptography==36.0.2
cssselect==1.1.0
filelock==3.6.0
Flask==2.0.1
Flask-Session==0.4.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.15.1
greenlet==1.1.0
hyperlink==21.0.0
idna==3.3
incremental==21.3.0
install==1.3.5
itemadapter==0.5.0
itemloaders==1.0.4
itsdangerous==2.0.1
Jinja2==3.0.1
jmespath==1.0.0
joblib==1.1.0
lxml==4.8.0
MarkupSafe==2.0.1
mkl-fft==1.3.1
mkl-random @ file:///opt/concourse/worker/volumes/live/0cda23d8-7460-44b2-7e5d-3c76a8a0ca7e/volume/mkl_random_1626186083266/work
mkl-service==2.4.0
numexpr @ file:///opt/concourse/worker/volumes/live/87ac54fe-281a-440d-4d94-26ac99bdabdc/volume/numexpr_1640704258458/work
numpy @ file:///opt/concourse/worker/volumes/live/a3493aeb-202b-43d0-6a51-0a73ce7c0029/volume/numpy_and_numpy_base_1649782777974/work
packaging==20.4
pandas==1.4.1
parsel==1.6.0
Protego==0.2.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
PyDispatcher==2.0.5
pyOpenSSL==22.0.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
queuelib==1.6.2
requests==2.27.1
requests-file==1.5.1
scikit-learn==1.0.2
scipy==1.8.0
Scrapy==2.6.1
service-identity==21.1.0
six==1.15.0
soupsieve==2.3.2.post1
SQLAlchemy==1.4.20
threadpoolctl==3.1.0
tldextract==3.2.1
tmdbsimple==2.9.1
Twisted==22.4.0
typing_extensions==4.2.0
urllib3==1.26.9
w3lib==1.22.0
Werkzeug==2.0.1
WTForms==2.3.3
zope.interface==5.4.0
