{% extends 'includes/header.html'  %}

{% include 'includes/nav.html' %}
{% block content %}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/rating.css') }}">
        <div class="align-items-center mt-5">
            <div class="container-sm">
                <div class="row">
                    <div class="col-md-4 offset-md-4 pt-2 pb-2 ">
                        <form method="POST">
                            {% for movie in movies %}
                            <div class="range-wrap">
                                <label for="rating" class="form-label lead">{{movie.title}}</label>
                                <p>{{movie.genres}}</p>
                                <input type="range" class="form-range range" name="movie_{{movie.movie_id}}" min="0" max="5"
                                    step="0.5" id="rating">
                                <output class="bubble"></output>
                            </div>
                            {% endfor %}
                            <div class="d-grid gap-2">
                                <input type="submit" value="submit" class="btn btn-success">
                            </div>
        
                        </form>
                    </div>
                </div>
            </div>
        </div>
    
    <script>
        const allRanges = document.querySelectorAll(".range-wrap");
        allRanges.forEach(wrap => {
            const range = wrap.querySelector(".range");
            const bubble = wrap.querySelector(".bubble");

            range.addEventListener("input", () => {
                setBubble(range, bubble);
            });
            setBubble(range, bubble);
        });

        function setBubble(range, bubble) {
            const val = range.value;
            const min = range.min ? range.min : 0;
            const max = range.max ? range.max : 100;
            const newVal = Number(((val - min) * 100) / (max - min));
            bubble.innerHTML = val;

            // Sorta magic numbers based on size of the native UI thumb
            bubble.style.left = `calc(${newVal}% + (${8 - newVal * 0.15}px))`;
        }
    </script>




{% endblock %}