/* ================================= 
  Base Element Styles
==================================== */

body,
input,
button {
 font-family: 'Roboto', sans-serif;
}

body {
  font: 1em/1.5;
  color: #FAFAFA;
	background: #424242;
}

header {
	text-align: center;  
}

.navbar-nav > li{
	padding-left:30px !important;
	padding-right:30px !important;
  }